#container {
  height: 200px;
  display: flex;
  align-items: flex-end;
}

body {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.bar {
  width: 10px;
  background-color: black;
  margin: 1px;
  display: inline-block;
  transition: height 0.2s ease;
}
